:root {
    --colorB: rgb(54, 24, 223)
}
@keyframes pulse {
    from {color: white;}
    to {color: var(--colorB);}
  }

body {
    background: linear-gradient(rgb(6, 9, 39),rgb(31, 31, 34), rgb(12, 10, 34), rgb(21, 13, 90) );
    font-family: 'Electrolize', sans-serif;
}

#cont {
    padding-bottom: 12vh;
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:20px;
}

#main-container {
    margin: auto;
    margin-top: 10px;
    color: white;
    width: 675px;   
    border: 1px groove var(--colorB);
    background-color: black;
    position: relative;
}

.board {
    position:relative;
}

.grid {
    width: 675px;
    height:675px;
    display: none;
    flex-wrap: wrap;
    margin: auto;
    
}

#boardBg {
    position:absolute;
    background: url("images/stars1.png");
    background-position: 0,0;
    height: 675px;
    width: 675px;
    left: 0;
    top: 0;
    display: none;
    opacity: 0.4;
    animation: bannermove 5s linear infinite;
  }
  
@keyframes bannermove {
    0% {
        background-position-y: top;
    }
    100% {
        background-position-y: 100%;
    }
}

#grid-activate {
    display:none;
    
}

.grid div {
    width: 45px;
    height: 45px;
}

.invader {
    background-image: url("images/invader.png");
    background-position: center;
    background-repeat: no-repeat;
}

.shooter {
    background-image: url("images/ship1.png");
    background-position: center;
    background-repeat: no-repeat;
}

.normal {
    background-image: none;
}

.laser {
    background-image: url("images/laser.png");
    background-position: center;
    background-repeat: no-repeat;
}

.boom {
    background-image: url("images/invader-boom.png");
    background-position: center;
    background-repeat: no-repeat;
}

#results {
    display: none;
    margin: auto;
    justify-content: center;
    margin-bottom: 10px;
  
}

#result {
    margin-left: 20px;
}

.box {
    width: 50%;
    margin-bottom: 5px;
    text-align: center;
    font-size: 10px;
    justify-content: center;
    display: flex;
    background-color: black;
}

#score {
    margin-left: 20px;
}

.menu {
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: transparent;
    color: white;
}

.btn {
    margin-top: 5px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn:hover {
    color: var(--colorB);
}

#info {
    display: none;
}

#new {
    display: none;
}

#grid-container {
    margin: auto;
}
.overlay {
    display:flex;
    opacity: 0.95;
    width: 675px;
    height:675px;
    flex-wrap: wrap;
    margin: auto;
    font-size: 30px;
    transition: 1s;
    background-color: black;
}

#overlay-start {
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#overlay-start:hover {
    color: var(--colorB);
}

#head-start {
    font-size:40px;
}

#overlay-start p {
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: 1s;
    cursor: pointer;
}

#overlay-info {
    display: none;
    justify-content: center;
    align-items: center;
}

.button {
    height: 70px;
    width: 300px;
    border: 1px solid var(--colorB);
    margin: 10px;
    padding-top:30px;
    text-align: center;
    background-color: black;
    cursor: pointer;
}

.button:hover {
    color: black;
    background-color: white;
}

